/* @import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com"); */
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

.Header {
  font-family: "Caveat";
  color: #0e3c7e;
  text-align: center;
  font-size: 100px;
  box-shadow: 10px 5px 5px lightgrey;
}
